/*CON MAS TIEMPO APLICARE SASS*/

#div1 {
    background-color: black;
    margin-top: 110px;
}

#div2 {
    background-color: black;
    margin-top: 110px;
    height: min-content;
}

#img1 {
    height: 325px;
}

#button1 {
    position: absolute;
    display: inline-block;
    top: 36%;
    left: 24%;
}

#button2 {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 67%;
}

#imgLogOut {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-top: -50px;
}

#tituloRutas {
    font-family: "GOW";
    font-size: 50px;
    text-align: center;
}

@font-face {
    font-family: "GOW";
    src: url("../fuentes/GODOFWAR.TTF")
}